<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="custom_menu_item" type="Training\Feedback\Plugin\Topmenu" sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Theme\Block\Html\Pager">
        <plugin name="custom_pager" type="Training\Feedback\Plugin\CustomPager" sortOrder="10" disabled="true"/>
    </type>
</config>
