<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <feedback_configuration>
            
            <feedback_configuration_general>
                <top_menu_link_name>Store Feedbacks</top_menu_link_name>
                <truncate_length>50</truncate_length>
            </feedback_configuration_general>
            
            <feedback_ratings_configuration>
                <rating_max_value>5</rating_max_value> <!-- Set default value to 5 -->
            </feedback_ratings_configuration>
            
        </feedback_configuration>
    </default>
</config>
