<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_Feedback::feedbacks" title="Store Feedbacks" translate="title" module="Training_Feedback" resource="Training_Feedback::feedbacks"/>
        <add id="Training_Feedback::feedbacks_manage" title="All Feedbacks" translate="title" module="Training_Feedback" sortOrder="10" parent="Training_Feedback::feedbacks" action="training_feedback/index/index" resource="Training_Feedback::manage"/>
        <add id="Training_Feedback::feedbacks_configs" title="Configuration" module="Training_Feedback" sortOrder="20" parent="Training_Feedback::feedbacks" action="adminhtml/system_config/edit/section/feedback_configuration" resource="Training_Feedback::configs"/>
    </menu>
</config>
