<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="training_feedback" frontName="training_feedback">
            <module name="Training_Feedback" before="Magento_Backend"/>
        </route>
    </router>
</config>
