<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Feedback\Controller\Index\Save" type="Training\FeedbackProduct\Controller\Index\Save" />
    <type name="Training\Feedback\Api\Data\FeedbackInterface">
        <plugin name="feedback_mofel_plugin" type="Training\FeedbackProduct\Plugin\Model\FeedbackExtension" sortOrder="1" disabled="false" />
    </type>
</config>
